<clr-modal [(clrModalOpen)]="basic" [clrModalSize]='sizeModal' [clrModalClosable]="false">
  <h3 class="modal-title">Zmień hasło</h3>
  <div class="modal-body">
    <form clrStepper [formGroup]="form" (ngSubmit)="submit()">

      <clr-stepper-panel formGroupName="password">
        <clr-step-title>Hasło</clr-step-title>
        <clr-step-content *clrIfExpanded>
          <clr-input-container>
            <label>Hasło</label>
            <input clrInput formControlName="password" />
            <clr-control-error *clrIfError="'required'">Hasło jest wymagane</clr-control-error>
            <clr-control-error *clrIfError="'minlength'">Długość hasła min 6 znaków</clr-control-error>
          </clr-input-container>
          <clr-input-container>
            <label>Powtórz hasło</label>
            <input clrInput formControlName="confirm" />
            <clr-control-error *clrIfError="'required'">Powtórzenie hasła jest wymagane</clr-control-error>
            <clr-control-error *clrIfError="'mustMatch'">Błedne hasło</clr-control-error>
          </clr-input-container>
          <button clrStepButton="submit">ZAPISZ</button>
        </clr-step-content>
      </clr-stepper-panel>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning" (click)="close()">Anuluj</button>
  </div>
</clr-modal>