.center {
    text-align: center;
}

.end {
    text-align: end;
}

.border {
    border-left-style: solid; 
    border-right-style: solid; 
    border-width: 2px; 
    border-color: #1D3058;
}

.workLong {
    background-color: #eb4d3d !important;
    color: white;
}

.btn{
    text-align: center;
}