<ion-header translucent>
  <ion-toolbar>
    <ion-title>Pobierz materiał</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Zamknij</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item disabled="true">
    <ion-label>Montaż</ion-label>
    <ion-select [placeholder]="item.installName" >
      <ion-select-option>{{item.installName}}</ion-select-option>
    </ion-select>
  </ion-item> 


  <form [formGroup]="form" (ngSubmit)="submit()">
    <ion-item disabled="true">
      <ion-label>Nazwa</ion-label>
      <ion-select [placeholder]="item.name" >
        <ion-select-option>{{item.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Ilość" type="number" formControlName="qty"></ion-input>
    </ion-item>
    <ion-item disabled="true">    
      <ion-label>jm</ion-label>
      <ion-select [placeholder]="item.unitName" >
        <ion-select-option >{{item.unitName}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-grid>
      <ion-row class="btn">
        <ion-col>
          <ion-button type="submit" color="secondary" [disabled]="!form.valid" >POBIERZ</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>