.centered {
  position: fixed;
  top: 95vh;
  left: 50%;
  width: 400px;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.clr-form-control{
  margin-top: 0px !important;
}

#my-datagrid {
  height: 100%;
}

