<h3 class="modal-title">Zmiana swojego hasła</h3>
<div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="submit()">

        <clr-password-container>
            <label>Obecne hasło</label>
            <input clrPassword type="password" formControlName="oldpassword" />
            <clr-control-error *clrIfError="'required'">Hasło jest wymagane</clr-control-error>
        </clr-password-container>

        <clr-password-container>
            <label>Nowe hasło</label>
            <input clrPassword type="password" formControlName="password" />
            <clr-control-error *clrIfError="'required'">Hasło jest wymagane</clr-control-error>
            <clr-control-error *clrIfError="'minlength'">Długość hasła min 6 znaków</clr-control-error>
        </clr-password-container>

        <clr-password-container>
            <label>Powtórz nowe hasło</label>
            <input clrPassword type="password" formControlName="confirm" />
            <clr-control-error *clrIfError="'required'">Powtórzenie hasła jest wymagane</clr-control-error>
            <clr-control-error *clrIfError="'mustMatch'">Błedne hasło</clr-control-error>
        </clr-password-container>

        <button type="submit" class="btn btn-primary">ZAPISZ</button>
    </form>
</div>